body{
    margin:0;
    padding:0;
    background: #344953;
}

.box{
    position: absolute;
    top:40px;
    margin-left:400px;
    padding:5px;
    background: #f1f1f1;
}

.box a{
    width:40px;
    height:40px;
    float:left;
    text-indent:-9999px;
    margin: 5px;
    cursor: pointer;
}

#red{
    background-color:#e74c3c;
}
#blue{
    background:#3498db;
}
#green{
    background:#2ecc71;
}
#gray{
    background:#34495e;
}
#yellow{
    background:#f1c40f;
}
#orange{
    background:#e67e22;
}
